[submodule "simple_storage/lib/forge-std"]
	path = simple_storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "simple_storage/lib/openzeppelin-contracts"]
	path = simple_storage/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
