---
name: Generate SBOM
on:
  workflow_call:
    inputs:
      tag:
        type: string
        description: The tag to use for generating SBOM.
        required: true
jobs:
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    environment: release
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_CHANNEL: '#oss-releases'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b  # v2.15.0
        with:
          egress-policy: audit
      - name: Get github app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        id: gh-app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Checkout tag
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ inputs.tag }}
          token: ${{ steps.gh-app-token.outputs.token }}
      - name: Slack notification
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d  # v2.1.0
        with:
          status: starting
          steps: ${{ toJson(steps) }}
          channel: ${{ env.SLACK_CHANNEL }}
          message: Starting generating sbom for ${{ github.repository }} with tag ${{ inputs.tag }}......
        if: always()
      - name: Run SBOM
        uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11  # v0.23.0
        with:
          upload-artifact-retention: 7
          upload-release-assets: false
          github-token: ${{ steps.gh-app-token.outputs.token }}
          output-file: openzeppelin-relayer-${{ inputs.tag }}-spdx.json
          artifact-name: openzeppelin-relayer-${{ inputs.tag }}-spdx.json
      - name: Upload Release Artifact
        env:
          GH_TOKEN: ${{ steps.gh-app-token.outputs.token }}
        run: gh release upload ${{ inputs.tag }} openzeppelin-relayer-${{ inputs.tag }}-spdx.json
      - name: SBOM attestation
        uses: actions/attest-build-provenance@a2bbfa25375fe432b6a289bc6b6cd05ecd0c4c32  # main
        with:
          subject-path: ./openzeppelin-relayer-${{ inputs.tag }}-spdx.json
          github-token: ${{ steps.gh-app-token.outputs.token }}
      - name: Slack notification
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d  # v2.1.0
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: ${{ env.SLACK_CHANNEL }}
          message: Generating sbom ${{ job.status }}
        if: always()
